html, body, #app, .wrapper, .main-content {
    height: 100%;
    min-height: 100%;
}

// Custom scrollbar
.custom__scrollbar::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

.custom__scrollbar::-webkit-scrollbar-track {
    background: #ececec;
    border-radius: 10px;
}

.custom__scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #616161;
}

// Overlay for loading animation
.over__lay {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    z-index: 5000;
    height: 100%;
}
