html, body, #app, .wrapper, .main-content {
    height: 100%;
    min-height: 100%;
}

// Custom scrollbar
.custom__scrollbar::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

.custom__scrollbar::-webkit-scrollbar-track {
    background: #ececec;
    border-radius: 10px;
}

.custom__scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #616161;
}

// Overlay for loading animation
.over__lay {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    z-index: 5000;
    height: 100%;
}

// Drop down
.drop__down.dropdown-menu {
    max-height: 250px;
    overflow: auto;
}

.drop__down.dropdown-menu::-webkit-scrollbar {
    width: 5px;
}

.drop__down.dropdown-menu::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.drop__down.dropdown-menu::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
